$font-base: 'Open Sans', sans-serif;

//RESETEO
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-family: $font-base;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
//VARIABLES