/* Smartphones (portrait and landscape) ----------- */

/* iPhone 4 ----------- */
@media only screen and (max-width:319px) {

  #navegador {
    #brand {
      margin-right: 10px;
      font-size: 1rem;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 5px;
      margin-bottom: 5px;

      .nav-item {
        margin-top: 10px;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 1088px;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {

        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

  #navegador {

    #brand {
      margin-right: 10px;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 5px;
      margin-bottom: 5px;

      .nav-item {
        margin-top: 10px;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 1088px;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {

        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

  .contenedor-iconos {
    flex-direction: column;
    margin-top: 2rem;
  }

  .contenedor-mision-texto {
    margin: 2rem 0rem;
  }

  .mision-texto {
    margin-top: 2rem;
  }

  .contenedor-mision {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor-parrafos {
    flex-direction: column;
    max-width: 90%;
  }
  .parrafo-queHacemos {
    padding: 0;
    margin-left: .5rem;
    margin-top: 1rem;
  }
  .contacto-texto {
    padding: 0;
    padding-top: 1rem;
  }
  .contenedor-contacto {
    margin: 0;
  }
  .contenedor-contacto a {
    max-width: 90%;
    font-size: 19px;
  }
  .contenedor-mapa {
    width: 80%;
    margin-top: 2rem;
}
}


@media only screen and (min-width : 481px) and (max-width : 767px) {
  #navegador {

    #brand {
      margin-right: 10px;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 5px;
      margin-bottom: 5px;

      .nav-item {
        margin-top: 10px;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 1088px;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {

        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  #navegador {

    #brand {
      margin-right: 10px;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 5px;
      margin-bottom: 5px;

      .nav-item {
        margin-top: 10px;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 1088px;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {
        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (min-width : 992px) and (max-width : 1024px) {
  #navegador {
    #brand {
      margin-right: 5rem;
    }

    ul {
      .nav-link {
        font-size: 0.6rem;
      }
    }
  }
}

@media only screen and (min-width : 1025px) and (max-width : 1121px) {

  #navegador {
    ul {
      .nav-item {
        font-size: 0.90rem;
      }
    }
  }

}


/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  /* Styles */

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}