/* iPhone 4 ----------- */
@media only screen and (max-width:319px) {
  #navegador {
    #brand-mobile {
      margin-right: 0.625rem;
      display: unset;
      width: 60%;
      margin-left: 0;
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;

      .nav-item {
        margin-top: 0.625rem;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado-index,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #encabezado-landing{
    #agradecimiento{
      font-size: 1.75rem;
    }
  }

  #con-tu-ayuda{
    margin: 2rem 0;

    .contenedor-con-ayuda-texto{
      h4{
        font-size: 1.5rem;
        width: 95%;
        text-align: left;
      }
  
      #list-item{
        width: unset;
        font-size: unset;
      }
    }

    .contenedor-con-ayuda-imagen{
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 68rem;
    justify-content: center;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {
        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

  #talleres {
    .contenedor-grid-talleres {
      display: none;
    }

    #carousel-talleres {
      display: unset;
    }
  }
  #postInstagram {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .posts {
    display: none;
  }

  .texto-ig {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5625rem;
    text-align: center;

  }

  .contenedor-carousel-ig {
    display: block;
    margin: 3.9375rem 0;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #navegador {
    #brand-mobile {
      margin-right: 0.625rem;
      display: unset;
      width: 60%;
      margin-left: 0;
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;

      .nav-item {
        margin-top: 0.625rem;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado-index,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #encabezado-landing{
    #agradecimiento{
      font-size: 1.75rem;
    }
  }

  #con-tu-ayuda{
    margin: 2rem 0;

    .contenedor-con-ayuda-texto{
      h4{
        font-size: 2rem;
        width: 95%;
        text-align: left;
      }
  
      #list-item{
        width: unset;
      }
    }

    .contenedor-con-ayuda-imagen{
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 68rem;
    justify-content: center;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {
        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

  .contenedor-iconos {
    flex-direction: column;
    margin-top: 2rem;
  }

  .contenedor-mision-texto {
    margin: 2rem 0rem;
  }

  .mision-texto {
    margin-top: 2rem;
  }

  .contenedor-mision {
    display: flex;
    flex-direction: column-reverse;
  }

  .contenedor-parrafos {
    flex-direction: column;
    max-width: 90%;
  }

  .parrafo-queHacemos {
    padding: 0;
    margin-left: .5rem;
    margin-top: 1rem;
  }

  .contacto-texto {
    padding: 0;
    padding-top: 1rem;
  }

  .contenedor-contacto {
    margin: 0;
  }

  .contenedor-contacto a {
    max-width: 90%;
    font-size: 1.1875rem;
  }

  .contenedor-mapa {
    width: 80%;
    margin-top: 2rem;
  }

  #talleres {
    .contenedor-grid-talleres {
      display: none;
    }

    #carousel-talleres {
      display: unset;
    }
  }

  #postInstagram {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .posts {
    display: none;
  }

  .texto-ig {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5625rem;
    text-align: center;

  }

  .contenedor-carousel-ig {
    display: block;
    margin: 3.9375rem 0;
  }


  .titulo-texto-sumate {
    font-size: 2rem;
    width: 21.4375rem;
  }
  .contenedor-iconos-landing {
    width: 100%;
  }
  .icono-sumate {
    height: 4.3125rem;
    width: 4.3125rem;
  }

  .texto-icono-landing {
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
  }
}


@media only screen and (min-width : 481px) and (max-width : 767px) {
  #navegador {
    #brand-mobile {
      margin-right: 0.625rem;
      display: unset;
      width: 50%;
      margin-left: 0;
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;

      .nav-item {
        margin-top: 0.625rem;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado-index,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #con-tu-ayuda{
    margin: 2rem 0;

    .contenedor-con-ayuda-texto{
      h4{
        width: 95%;
        text-align: left;
      }
  
      #list-item{
        width: unset;
      }
    }

    .contenedor-con-ayuda-imagen{
      display: none;
    }
  }

  #quiero-ser-parte {
    height: 68rem;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {

        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

  #talleres {
    .contenedor-grid-talleres {
      display: none;
    }

    #carousel-talleres {
      display: unset;
    }
  }
  #postInstagram {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .posts {
    display: none;
  }

  .texto-ig {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5625rem;
    text-align: center;

  }

  .contenedor-carousel-ig {
    display: block;
    margin: 3.9375rem 0;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  #navegador {
    #brand-mobile {
      margin-right: 0.625rem;
      display: unset;
      width: 40%;
      margin-left: 0;
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;

      .nav-item {
        margin-top: 0.625rem;
      }

      #nav-donar-button {
        display: none;
      }
    }
  }

  #encabezado-index,
  #quiero-ser-parte {
    br {
      display: none;
    }
  }

  #con-tu-ayuda{
    .contenedor-con-ayuda-texto{
      h4{
        font-size: 1.8rem;
        width: unset;
      }

      #list-item{
        width: unset;
        margin-bottom: 0.5rem;
        font-size: unset;
      }
    }
  }

  #quiero-ser-parte {
    height: 68rem;
    justify-content: space-evenly;

    #ser-parte-opciones {
      flex-direction: column;

      .opcion {
        .ser-parte-boton {
          width: 100%;
        }

        width: 80%;
        justify-content: space-around;
      }
    }
  }

  #talleres {
    .contenedor-grid-talleres {

      figure {
        img {
          width: 95%;
        }

        figcaption {
          font-size: 0.9rem !important;
          line-height: unset !important;
        }
      }
    }
  }
  .titulo-texto-sumate {
    font-size: 1.8rem;
  }
  .sumate-texto {
    padding: 1.8rem;
  }
  .icono-sumate {
    width: 5rem;
    height: 5rem;
  }

}

@media only screen and (min-width : 992px) and (max-width : 1024px) {
  #navegador {
    #brand-mobile {
      display: unset;
      margin-right: 0.625rem;

      img {
        width: 80%;
      }
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      width: 30%;

    }

    ul {
      .nav-link {
        font-size: 0.5rem;
      }
    }
  }

  #talleres {
    .contenedor-grid-talleres {
      img {
        width: 95%;
      }
    }
  }

}

@media only screen and (min-width : 1025px) and (max-width : 1121px) {

  #navegador {
    #brand-mobile {
      display: unset;

      img {
        width: 90%;
      }
    }

    #brand-desktop {
      display: none;
    }

    #brand-toggle {
      margin-right: 1.875rem;
      width: 25%;
    }

    ul {
      .nav-link {
        font-size: 0.7rem;
      }
    }
  }

  #talleres {
    .contenedor-grid-talleres {
      img {
        width: 95%;
      }
    }
  }
  .sumate-texto {
    padding: 1.8rem;
    font-size: .9375rem;
  }
  .titulo-texto-sumate {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width : 1122px) and (max-width : 1423px) {
  #talleres {
    .contenedor-grid-talleres {
      img {
        width: 95%;
      }
    }
  }
  .titulo-texto-sumate {
    font-size: 1.8rem;
  }
  .sumate-texto {
    padding: 1.1rem;
  }
  
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) and (max-width: 1823px) {
  #talleres {
    .contenedor-grid-talleres {
      img {
        width: 95%;
      }
    }
  }
}


/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}