.contenedor-nosotros-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.titulo-nosotros {
    font-family: 'Volkhov', serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: center;
    height: 2.875rem;
    width: 30.625rem;
    margin-bottom: 2.8125rem;
}

.texto-nosotros {
    width: 30.625rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    text-align: justify;
    max-width: 90%;
}

.contenedor-nosotros-imagen {
    padding: 0;
}

.img-nosotros {
    width: 100%;
}

.contenedor-iconos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.icono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -3.125rem;
}

.texto-icono {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.0625rem;
    text-align: center;
    margin-top: 1.1875rem;
}

.contenedor-mision-imagen {
    padding: 0;
}

.imagen-mision {
    width: 100%;
}

.contenedor-mision-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-texto {
    font-family: 'Volkhov', serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: center;
}

.mision-texto {
    max-width: 90%;
    width: 30.625rem;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 25px;
    text-align: justify;
    margin-top: 7.375rem;
}

.contenedor-queHacemos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-parrafos {
    display: flex;
    flex-direction: row;
}

.titulo-queHacemos {
    font-family: 'Volkhov', serif;
    margin-top: 3.25rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
    text-align: center;

}

.parrafo-queHacemos {
    width: 37.03125rem;
    margin-top: 3.25rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5625rem;
    text-align: justify;
    padding-right: 3rem;
    max-width: 90%;
}

footer {
    background: #C4C4C4;
}

.contacto-texto {
    padding: 2.375rem 7.5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}

.contenedor-contacto {
    margin-left: 7.5rem;
    display: flex;
    flex-direction: column;
}

.contenedor-padre {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenedor-contacto>* {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.contenedor-mapa {
    width: 40%;
}

.mapa {
    width: 100%;
}

.subtitulo-contacto {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.0625rem;
    text-align: left;
}

.icono-redes {
    padding-right: 1.5rem;
    color: #5D5FEF;
    font-size: 2rem;

}
.fa-instagram-square {
    border-radius: 50%;
}
.dondeEstamos {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.copyright {
    text-align: center;
    padding: 1.5rem;
    margin: 0;
}


.contenedor-post-ig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-ig {
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
    font-family: 'Volkhov', serif;
    font-size: 2.2rem;
    font-weight: 400;
    max-width: 90%;
    text-align: center;

}

.posts {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: .9375rem;
    margin: 3.75rem;
    flex-wrap: wrap;
}

.post-img {
    width: 329px;
    margin: .9375rem;
}
.contenedor-carousel-ig {
    display: none;
}