#talleres{
    .contenedor-talleres{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h3{
        font-family: 'Volkhov', serif;
        margin-top: 3.25rem;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.25rem;
        text-align: center;
    }

    .contenedor-grid-talleres {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center; 
    
        #grid-talleres{
            width: fit-content;
            height: fit-content;
            margin: 2.5rem;
            text-align: center;
            gap: 1.875rem;
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;


            figure{
                text-align: center;
                // img{
                //     // width: 399px;
                //     // height: 265px;
                //     // width: 15.625rem;
                //     // height: 15.625rem;
                // }

                figcaption{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    // font-size: 1.5rem;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    text-align: center;
                    margin-top: 0.625rem;
                }
            }
        }
    }

    #carousel-talleres {
        display: none;
        margin: 2.5rem;
        width: 95%;

        .carousel-caption {
            
            h3 {
                background-color: rgba(0, 0, 0, 0.9);
                font-size: 1.5rem;
                color: white;
                -webkit-text-stroke: black 0.5px;
                line-height: 2rem;
            }
        }
    }
}